<mat-form-field class="filter-input">
  <input matInput (keyup)="applyFilter($event)" placeholder="Filter by name, description or date">
</mat-form-field>
<div class="mat-elevation-z8" cdkScrollable style="min-width: 500px; height: 500px; overflow: auto;">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="dataSource.data.length > 0">
   <!-- Index Column -->
   <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
  </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Details Column -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Details</th>
      <td mat-cell *matCellDef="let element">{{ element.details }}</td>
    </ng-container>

    <!-- From Date Column -->
    <ng-container matColumnDef="fromDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>From Date</th>
      <td mat-cell *matCellDef="let element">{{ element.fromDate }}</td>
    </ng-container>

    <!-- To Date Column -->
    <ng-container matColumnDef="toDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>To Date</th>
      <td mat-cell *matCellDef="let element">{{ element.toDate }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button class="delete" mat-raised-button color="warn" (click)="deleteEvent(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="mat-elevation-z8 no-data" *ngIf="dataSource.data.length == 0" class="placeholder">
    <td  colspan="6">No data available.</td>
  </div>
  <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
</div>
<div class="create-event-button">
  <button mat-raised-button color="primary" (click)="navigateToCreateEvent()">Create Event</button>
</div>
